
.flexorder {
    display: flex;
    justify-content: flex-end;
    list-style:none;
}


.item1 {
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}
.item2 {
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    
}

.item3 {
    padding-top: 10px;
    padding-left: 10px;
}

.item4 {
    padding-top: 10px;
    padding-left: 16px;
}

.flexicon {
    display: flex;
    justify-content: center;
    border: 100px 0px 0px 0px;
    padding-top: 15px;
}

.logogoogle {
    padding: 30px;
}

.flexbar {
    display: flex;
    justify-content: center;
    
}

.espacio {
    padding-top: 35px;
}

.buscador {
    border-radius: 40px;
    padding: 20px 25px;
    border-color: #E6E6E6;
    border-style: solid;
    font-size: 15px;
}

.recentweb {
    display: flex;
    list-style:none;
    justify-content: center;
}

.item5 {
    padding: 26px;
}
